<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>LoginServices</title>
<link rel="stylesheet" href="index.css" TYPE="text/css" media="screen">
</head>

<body>
	<h1>Login Services</h1><h2>(Welcome to Login Service)</h2>
	<div th:if="${loginservices.empty}">
		<div>No Login Services</div>
	</div>
	<div th:unless="${loginservices.empty}">
		<table id="loginservice_table">
			<thead>
	
			</thead>
			<tbody>
				<tr th:each="loginservice : ${loginservices}">
					<td th:text="${loginservice.name}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>
