<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>AirlineServices</title>
<link rel="stylesheet" href="index.css" TYPE="text/css" media="screen">
</head>

<body>
	<h1>Airline Services</h1><h2>(Service is from Rome to Mumbai,India)</h2>
	<div th:if="${airlineservices.empty}">
		<div>No Airline Services</div>
	</div>
	<div th:unless="${airlineservices.empty}">
		<table id="airlineservice_table">
			<thead>
				<tr>
					<th>ServiceProviderName</th>
					<th>AveragePrice(Euro)</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="airlineservice : ${airlineservices}">
					<td th:text="${airlineservice.name}"></td>
					<td th:text="${airlineservice.averagePrice}"></td>
					<td><a id="edit" th:href='@{/edit(id=${airlineservice.id})}'><button>EDIT</button></a></td>
					<td><a id="delete" th:href='@{/delete(id=${airlineservice.id})}'><button>DELETE</button></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<p>
			Click <a th:href="@{/new}">here</a> to add a new Airline Service!
		</p>
		<p>
			Click <a th:href="@{/logout}">here</a> to Logout!
		</p>
	</div>
	<div th:unless="${airlineservices.empty}">
		<p>
			Click <a th:href="@{/reset}">here</a> to delete all the Airline Services!
		</p>
	</div>

</body>
</html>
