@charset "UTF-8";

body {
	background-image : url("pho.jpg");
	background-size: 1166px 750px;
	
}
h1 {
	color : Harlequin;
	font-family : fantasy;
	font-style: Serif;
	font-size: 300%;
}
h2 {
	color : Harlequin;
	font-family : fantasy;
	font-style: Serif;
	font-size: 200%;
}
p {
	color : Harlequin;
	font-family: fantasy;
	font-size: 150%;
}
button {
  background-color: #e7e7e7; 
  border: 2px solid #4CAF50;
  color: black;
  padding: 9px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  background-color: #008CBA; 
  color: blue;
  border: 2px solid #4CAF50
}
div {
	color : red;
	font-family : fantasy;
	
}